<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <!-- use routerLinkActiveOptions if this route should only be active on the exact path match
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/home', 5, 'test']"
            [queryParams]="{allowEdit: 1}"
            [fragment]="['fragment1']">Home</a>
        </li>
         -->
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a [routerLink]="['/shopping-list']">Shopping List</a>
        </li>
      </ul>

      <ul class="nav navbar navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button" appDropdown
            >{{ isAuthenticated ? (user.email | shorten: 20) : "Account" }}
            <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/signin']" *ngIf="!isAuthenticated">Sign In</a>
            </li>
            <li>
              <a [routerLink]="['/signup']" *ngIf="!isAuthenticated">Sign Up</a>
            </li>
            <li><a (click)="onLogout()" *ngIf="isAuthenticated">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
