<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" [routerLink]="['new']">
      Add Ingredient
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <router-outlet></router-outlet>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-xs-10">
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer;"
        *ngFor="let ingredient of ingredients; let i = index"
        [routerLink]="[ingredient.id, 'edit']"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
        <button
          class="btn btn-danger pull-right"
          (click)="deleteIngredient(ingredient.id)"
        >
          X
        </button>
        <div class="clearfix"></div>
      </a>
    </ul>
  </div>
</div>
